@import "tailwindcss";

@theme {
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }
}

@layer base {
  :root {
    --background: hsl(0 0% 93.3%);
    /* #EEEEEE */
    --foreground: hsl(240 10% 4%);

    --card: hsl(0 0% 100%);
    --card-foreground: hsl(240 10% 4%);

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(240 10% 4%);

    --primary: hsl(217.2 91.2% 59.8%);
    --primary-foreground: hsl(222.2 47.4% 11.2%);

    --secondary: hsl(240 4.8% 90%);
    --secondary-foreground: hsl(240 5.9% 10%);

    --muted: hsl(240 4.8% 90%);
    --muted-foreground: hsl(240 3.8% 46.1%);

    --accent: hsl(240 4.8% 90%);
    --accent-foreground: hsl(240 5.9% 10%);

    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(0 0% 98%);

    --border: hsl(240 5.9% 80%);
    --input: hsl(240 5.9% 80%);
    --ring: hsl(217.2 91.2% 59.8%);

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.glass {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.glass-card {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.text-gradient {
  background: linear-gradient(to bottom right, #18181b 30%, #52525b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.blue-glow {
  box-shadow: 0 0 20px rgba(59, 130, 246, 0.2);
}